@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding:0 0 1rem 0;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(113, 0, 189);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(279, 100%, 37%, 0.2);
  }
}
